
@media (orientation: landscape) {
    *{
        margin: 0;
    }
    .navrow{
        transition: 0.25s;
        display: flex;
        justify-content: left;
        align-items: center;
        width: 100%;
        height: 3rem;
        border-bottom: 2px solid #2A3A54;
    }
    .navrow:hover{
        background-color: #2A3A54;
    }
    .navRowText{
        margin-left: 0.5rem;
        font-size: large;
        color: white;
        font-weight: 600;
    }
    .navRowIcon{
        margin-left: 0.5rem;
        color: white;
    }
    .tickerHolder{
        display: flex;
        flex-direction: column;
        padding-top: 2rem;
        padding-right: 5rem;
        margin-bottom: 1rem;
        width: 100%;
        height: 75vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .ticket{
        margin-bottom: 2rem;
        padding-right: 2rem;
        width: 100%;
    }
    .ticketStyle{
        background-color: transparent;
        color: white;
        border-radius: 1rem;
        border: 2px solid #2A3A54;
        font-weight: 600;
        font-size: 1rem;
        padding: 0.5rem 1rem 0.5rem 1rem;
    }
    .ticketTitleAndIss{
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: row;
        align-items: end;
    }
    .ticketTitleAndIss > *{
        margin-right: 0.5rem;
    }
    .ticketDescription{
        margin-top: 0.5rem;
        background-color: transparent;
        border-radius: 1rem;
        outline: none;
        font-size: 1rem;
        color: white;
        border: 2px solid #2A3A54;
        height: 3.5rem;
        text-overflow: ellipsis;
        white-space: none;
        padding: 1rem;
        position: relative;
        line-height: 18px;
    }
    .spanDescription{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    .ticketButtonsAndDate{
        margin-top: 0.5rem;
        width: 100%;   
        display: flex;
        flex-direction: row;
        align-items: end;
    }
    .bottomButtons{
        margin-right: 0.5rem;
        cursor: pointer;
    }
    .closeMenu{
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .closeMenuFG{
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        height: 70%;
        z-index: 5;
        background-color: #243248;
    }
    .bottomButtons{
        margin-top: auto;
    }
    .bottomButton{
        cursor: pointer;
        font-size: 2rem;
        margin: 0.5rem;
    }
    .closeMenuInfo{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
    }
    .asideNav{
        min-width: 13rem; 
        display:flex; 
        flex-direction: column; 
        height: 100vh; 
        background-color: #243248; 
        display: flex;
    }
    .date{
        margin-left: auto;
    }
}


@media (orientation: portrait) {
    html{
        overflow:hidden;
    }
    *{
        margin: 0;
    }
    .showNone{
        display: none;
    }
    .navrow{
        transition: 0.25s;
        display: flex;
        justify-content: left;
        align-items: center;
        width: 100%;
        height: 3rem;
        border-bottom: 2px solid #2A3A54;
    }
    .navrow:hover{
        background-color: #2A3A54;
    }
    .navRowText{
        margin-left: 0.5rem;
        font-size: large;
        color: white;
        font-weight: 600;
    }
    .navRowIcon{
        margin-left: 0.5rem;
        color: white;
    }
    .tickerHolder{
        display: flex;
        flex-direction: column;
        padding-top: 2rem;
        padding-right: 5rem;
        margin-bottom: 1rem;
        width: 100%;
        height: 75vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .ticket{
        margin-bottom: 2rem;
        padding-right: 2rem;
        width: 80vw;
    }
    .ticketStyle{
        background-color: transparent;
        color: white;
        border-radius: 1rem;
        border: 2px solid #2A3A54;
        font-weight: 600;
        font-size: 1rem;
        padding: 0.5rem 1rem 0.5rem 1rem;
    }
    .ticketTitleAndIss{
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: row;
        align-items: end;
    }
    .ticketTitleAndIss > *{
        margin-right: 0.5rem;
    }
    .ticketDescription{
        margin-top: 0.5rem;
        background-color: transparent;
        border-radius: 1rem;
        outline: none;
        font-size: 1rem;
        color: white;
        border: 2px solid #2A3A54;
        height: 3.5rem;
        text-overflow: ellipsis;
        white-space: none;
        padding: 1rem;
        position: relative;
        line-height: 18px;
    }
    .spanDescription{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    .ticketButtonsAndDate{
        margin-top: 0.5rem;
        width: 100%;   
        display: flex;
        flex-direction: row;
        align-items: end;
    }
    .bottomButtons{
        margin-right: 0.5rem;
        cursor: pointer;
    }
    .closeMenu{
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .closeMenuFG{
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        height: 70%;
        z-index: 5;
        background-color: #243248;
    }
    .bottomButtons{
        margin-top: auto;
    }
    .bottomButton{
        cursor: pointer;
        font-size: 2rem;
        margin: 0.5rem;
    }
    .closeMenuInfo{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
    }
    .asideNav{
        min-width: 2rem; 
        display:flex; 
        flex-direction: column; 
        height: 100vh; 
        background-color: #243248; 
        display: flex;
    }
}